/* your code here */
footer{
	background-color:#000000;
	color:white;
}
.bottom-details{
	background-color:#2c303a;
	display:flex;
	justify-content:space-between;
	padding:0px 20px;
}
.bottom-details p{
	font-size:14px;
}